<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>View Kudos</h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Recepient</th>
          <th>Email</th>
          <th>Kudos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees | async">
          <td>{{employee.firstName}} {{employee.lastName}}</td>
          <td>{{employee.emailId}}</td>
          <td>
              <div *ngFor="let kudo of employee.kudoList" class="border-bottom border-dashed pb-2 pt-0 pl-2">
                
                <span>{{kudo.kudoComment}}</span>
                <br/> 
                <span class="font-italic">From: {{kudo.kudoFrom}}</span>               
              </div>
              <!-- <button (click)="updateEmployee(employee.id)" class="btn btn-info" style="margin-left: 10px">Update</button> -->
              <!--
              <button (click)="deleteEmployee(employee.id)" class="btn btn-danger">Delete</button>
              
              <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
              -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

